@{
    ViewBag.Title = "Home Page";
}



<div>
    <h1>Utilities list:</h1>

    <ul>
        <li>@Html.ActionLink("Pastebin like", "Index","Paste")</li>
        <li>@Html.ActionLink("Assignments timer", "Index","Assignment")</li>
    </ul>
</div>